<div class="modal-dialog modal-xl rounded">
    <div class="modal-content">
        <div class="container bg-white mt-4 p-3 mb-5 bg-body rounded d-inline-flex justify-content-center align-items-center"
            style="height: 400px;">
            <div  *ngIf="!isEnterAmountShowing" >
                <div>
                    <div>
                        <h1 class="text-center py-3">Please tap your card to begin transaction</h1>
                    </div>
                    <div class="modal-body text-center">
                        <input name="rfIdValue" id="rfIdValue" onblur="this.focus()" type="text"
                            class="form-control" [(ngModel)]="rfId" focusElement
                            (ngModelChange)="rfIdInputChanged($event)" autofocus autocomplete="off" #rfid />
                        {{rfid.focus()}}
                        <div class="mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
                                <path d="M15.25 14a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-3.5Z"></path>
                                <path
                                    d="M1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0 1 22.25 21H1.75A1.75 1.75 0 0 1 0 19.25V4.75C0 3.784.784 3 1.75 3Zm-.25 7v9.25c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V10Zm0-5.25V8.5h21V4.75a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" class="btn btn-warning btn-sm text-white fw-semibold" (click)="goBack()">BACK</button>
    </div>
</div>