<div class="container shadow-sm bg-body rounded mt-3 pt-2 pb-3" style="background-color: white;">
    <form class="mb-4">
        <div class="row justify-content-center bg-light m-2 text-center">
            <h1 clas="fw-semibold">Gym Schedules</h1>
        </div>
       
    </form>

    <div class="row ps-3">
        <div class="col-md-2">
            <div class="row">
                <button class="btn btn-success" >
                    Create Schedule
                </button>
            </div>
        </div>
    </div>

    <hr class="bg-grey">

    <store-schedule></store-schedule>
</div>