<div class="container shadow-sm bg-body rounded mt-3 pt-2 pb-3" style="background-color: white;">
    <form class="mb-4">
    <div class="row justify-content-center bg-light m-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4 p-2   " style="width: 90px;"
            alt="Avatar" />
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="store" class="fw-bold">Store: </label>
            <input type="test" name="store" id="store" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label for="store" class="fw-bold">Points Per Top-up: </label>
            <input type="test" name="store" id="store" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label for="store" class="fw-bold">Email: </label>
            <input type="test" name="store" id="store" class="form-control"/>
        </div>
    </div>
</form>

<hr class="bg-grey">

<store-schedule></store-schedule>
</div>