<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo text-white me-auto">
      GYM Management
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#home">Home</a></li>
        <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>

        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

        <li><a class="nav-link scrollto" href="#services">All features</a></li>
        <li><a class="getstarted scrollto" routerLink="login">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>



<section id="home" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1>Best And Low-Cost Solution For Your Gym Business</h1>
        <h2>Manage your gym with ease and affordable solution <br>"Track all happening in your gym with our solution"
        </h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a routerLink="login" class="btn-get-started scrollto">Get Started</a>
          <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
              class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/logo/gymBackground.jpg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Features</h2>
      <p>
        Experience streamlined gym management with our comprehensive software, offering features such as Membership
        Management, Class Scheduling, Attendance Management, Customer Management,Employee Mangement, Store Management
        and seamless communication to enhance the efficiency and success of your fitness center.
      </p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Schedules</h4>
          <p>Track the schedules happening in your Gym!</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Customer Management</h4>
          <p>Maintain your client data in  very efficient way!</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Membership Management</h4>
          <p>Customize your own membership! <br/> 
          Modify the expiration, membership availability, fee and track who's client enrolled in that membership!
        </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Employee Mangement</h4>
          <p>Maintain your Employee data in very efficient way!</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Store Management</h4>
          <p>Track the total sales, vat collected and the current schedule happening in your gym!</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Card Attendance</h4>
          <p>
            It come's with RFID card  and the card can customize to you own likings!
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Classes</h4>
          <p>
            Customize your own gym classes, schedules, and length of the class
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Audit Trail</h4>
          <p>
            Track the transaction coming in your gym!
          </p>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Features Section -->

<!-- ======= Incoming Features  ======= -->
<section class="services section-bg incoming-features">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Incoming Features</h2>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Mobile Integration</h4>
          <p>Gym manangement will be available in mobile.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">POS Integration</h4>
          <p>
            Maintain the product that you are selling in your gym.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
              <path fill="#47b2e4"
                d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z" />
            </svg>
          </div>
          <h4 class="fw-semibold">Client Side Integration</h4>
          <p>
            Client will now can see their gym classes, send reminder, balance in card and etc.
          </p>
        </div>
      </div>
    </div>

  </div>
</section> <!--Incoming features -->


<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
      <!-- <p>
        The base
      </p> -->
    </div>

    <div class="row">

      <div class="col-lg-4 mt-4 mt-lg-0 mb-3" data-aos="fade-up" data-aos-delay="100">
        <div class="box featured">
          <h3>Free Plan</h3>
          <h4><sup>₱</sup>500<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i><span>&#10003;</span>50 users in system</li>
            <li><i class="bx bx-check"></i><span>&#10003;</span>All core features </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span>Receive updates </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> Free 1 online session user training </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> 1 month free online Support</li>
          </ul>
          <footer>
            <a href="#" class="buy-btn">Get Started</a>
          </footer>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0 mb-3" data-aos="fade-up" data-aos-delay="100">
        <div class="box featured">
          <h3>Blue Plan</h3>
          <h4><sup>₱</sup>1000<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i><span>&#10003;</span>100 users in system</li>
            <li><i class="bx bx-check"></i><span>&#10003;</span>All core features </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span>Receive updates </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> 1 month free online Support</li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> Customized Card</li>
          </ul>
          <footer>
            <a href="#" class="buy-btn">Get Started</a>
          </footer>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0 mb-3" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>Gold Plan</h3>
          <h4><sup>₱</sup>3000<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i><span>&#10003;</span>300 users in system</li>
            <li><i class="bx bx-check"></i><span>&#10003;</span>All core features </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span>Receive updates </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> Free onsite user training </li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> 1 month free online Support</li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> Customized Card</li>
            <li><i class="bx bx-check"></i><span>&#10003;</span> Request 2 unique feature in your gym yearly for free of charge!</li>
          </ul>
          <footer>
            <a href="#" class="buy-btn">Get Started</a>
          </footer>
        </div>
      </div>

      <!-- <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box featured">
          <h3>Platinum Plan</h3>
          <h4><sup>₱</sup>2000<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
            <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
            <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
            <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
          </ul>
          <footer>
            <a href="#" class="buy-btn">Get Started</a>
          </footer>
        </div>
      </div> -->

    </div>

  </div>
</section>

<!-- ======= About Us Section ======= -->

<footer id="footer">
  <!-- <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Arsha</h3>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div> -->

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Design Scribe</span></strong>. All Rights Reserved
    </div>

  </div>
</footer>



<!-- <app-login></app-login> -->

<script src="landing.js"></script>