.landing {
    height: 100vh;
    width: 100vw;
    background: url('../../../assets/logo/gymBackground.jpg') no-repeat center center/cover;
    display: flex;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 500px;
    width:700px;
    align-items: center;
    margin: auto;
    align-content: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(0, 0, 0, 0.98);

}

.login-form h1 {    
    color: black;
    margin: 50px
}

.box {
    padding: 12px;
    margin: 20px;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-size: 1rem;
}

#submit {
    padding: 10px 20px;
    margin-top: 50px;
    width: 50%;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
}

#submit:hover {
    cursor: pointer;

    color: white;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

.login-form .btn {
    width: 90%;
    border-radius: 20px;
}

