<div class="row mt-2 mb-2 p-2 bg-body shadow-sm  mx-2">
    <div class="col-md-6">
        <a class="btn btn-sm btn-primary px-4 me-2" [routerLink]="['gym-classes-types']">Gym Class Type</a>
        <button class="btn btn-sm btn-primary px-4" *ngIf="!isEditMode" (click)="_toggleEditMode(true)">Update</button>
        <button class="btn btn-sm btn-warning px-4" *ngIf="isEditMode" (click)="_toggleEditMode(false)">Cancel</button>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
         <button class="btn btn-sm btn-primary px-4" (click)="_invalidateCache()">Invalidate Cache</button>
         <!-- <button class="btn btn-sm btn-primary px-4 ms-2">Invalidate Cache</button> -->
    </div>
</div>
<div class="container-fluid">
    <form #customerForm="ngForm" class="row g-3 p-3 my-3 bg-body shadow rounded mx-2">
        <p class="fs-1 fw-semibold bg-secondary text-white">Store Configuration</p>
        <div class="row">
            <div class="col-md-4">
                <label for="name" class="form-label fw-semibold">Store Name</label>
                <input type="text" [disabled]="!isEditMode" [(ngModel)]="store.name" name="name" id="name" class="form-control" required>
            </div>
            <div class="col-md-4">
                <label for="amountNeedToEarnOnePoint" class="form-label fw-semibold">Points Per Top-up: </label>
                <input type="number"  [disabled]="!isEditMode" [(ngModel)]="store.amountNeedToEarnOnePoint" name="amountNeedToEarnOnePoint"
                    id="amountNeedToEarnOnePoint" class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label fw-semibold">Email: </label>
                <input type="email"  [disabled]="!isEditMode" [(ngModel)]="store.email" name="email" id="email" class="form-control" />
            </div>
            <div class="col-md-4 mt-3">
                <label for="users" class="form-label fw-semibold">User's available: </label>
                <input type="number" disabled  name="users" id="users" class="form-control" />
            </div>
        </div>
        <div class="col-12 d-flex justify-content-between" *ngIf="isEditMode">
            <p></p>
            <button (click)="_save()" class="fw-semibold btn btn-success px-5 btn-md">
                Save
            </button>
        </div>
    </form>
</div>