#sidebar-nav {
    width: 230px;
    height: 100vh;
}

#sidebar {
    height: 100vh;
}

svg {
    fill: white;
    height: 25px;
    width: 25px;
   
}

a:hover img {
    filter: brightness(0%);
}

a {
    display: flex;
    align-items: center; 
}

img {
    filter: brightness(0) invert(1);
    height: 25px;
    margin-right: 20px;
    color: white;
}