<nav id="sidebar" role="navigation" class="collapse collapse-horizontal show  bg-dark sticky-top">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100 bg-dark text-white">
        <div class="container text-center ">
            <div class="navbar-brand text-center py-2">
                <p class="fw-semibold user-select-none m-0">Gym Mangement <br> System</p>
            </div>
        </div>
        <a routerLink="customer" ariaCurrentWhenActive="page" [routerLink]="['/dashboard']" routerLinkActive="active"
            class="list-group-item  text-truncate bg-transparent text-white" data-bs-parent="#sidebar">
            <img src="assets/logo/sidebar/dashboard.svg"/>
            <span>Dashboard</span>
        </a>

        <a routerLink="customer" ariaCurrentWhenActive="page" [routerLink]="['/customers']" routerLinkActive="active"
            class="list-group-item text-truncate bg-transparent text-white" data-bs-parent="#sidebar">
            <img src="assets/logo/sidebar/usersGroup.svg"/>
            <span>Customer</span>
        </a>
        <a routerLink="employee" ariaCurrentWhenActive="page" [routerLink]="['/employees']" routerLinkActive="active"
            class="list-group-item text-truncate bg-transparent text-white">
            <img src="assets/logo/sidebar/employee.svg"/>
            <span>Employee</span>
        </a>
        <a routerLink="classes" ariaCurrentWhenActive="page" [routerLink]="['/classes']" routerLinkActive="active"
            class="list-group-item text-truncate bg-transparent text-white">
            <img src="assets/logo/sidebar/gymClasses.svg"/>
           
            <span>Gym Class</span>
        </a>
        <a routerLink="attendance" ariaCurrentWhenActive="page" [routerLink]="['/attendance']" routerLinkActive="active"
            class="list-group-item text-truncate bg-transparent text-white">
            <img src="assets/logo/sidebar/attendance.svg"/>
            <span>Attendance</span>
        </a>
        <a routerLink="membersips" ariaCurrentWhenActive="page" [routerLink]="['/membersips']" routerLinkActive="active"
            class="list-group-item text-truncate bg-transparent text-white">
            <img src="assets/logo/sidebar/membership.svg"/>
            <span>Membersip</span>
        </a>
        <a routerLink="schedules" ariaCurrentWhenActive="page" [routerLink]="['/schedules']" routerLinkActive="active"
            class="list-group-item border-end-0 d-inline-block text-truncate bg-transparent text-white">
            <img src="assets/logo/sidebar/schedule.svg"/>
            <span>Schedules</span>
        </a>
        <a routerLink="audit" ariaCurrentWhenActive="page" [routerLink]="['/audit']" routerLinkActive="active"
            class="list-group-item border-end-0 d-inline-block text-truncate bg-transparent text-white">
            <img src="assets/logo/sidebar/logs.svg"/>
            <span>Audit Trail</span>
        </a>
        <a routerLink="configuration" ariaCurrentWhenActive="page" [routerLink]="['/configuration']"
            routerLinkActive="active" class="list-group-item text-truncate bg-transparent text-white">
            <img src="assets/logo/sidebar/settings.svg"/>
            <span>Configuration</span>
        </a>
    </div>
</nav>