<!-- <customer-attendance (inputAttendance)="inputAttendance($event)"></customer-attendance> -->

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg mt-2  shadow-sm p-2 mb-2 bg-body rounded">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="customers" class="btn btn-sm btn-primary me-1">IN/OUT</a>
        </li>
        <li class="nav-item">
          <a routerLink="/customers/transaction/top-up" class="btn btn-sm btn-primary me-1">Top up</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="card shadow-sm bg-body rounded">
    <div class="d-flex justify-content-start  bg-white card-header align-items-center p-3">
      <h5 class="text-dark fw-bold align-items-center m-0 me-2">{{table.name}}</h5>
      <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="card-body pb-0">
      <div class="table-responsive">
        <table class="table table-hover m-0">
          <thead>
            <tr>
              <th scope="col" *ngFor="let column of table.columns;">
                {{column}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let customer of table.content;">
              <td>{{customer.user.firstName}}</td>
              <td>{{customer.user.lastName}}</td>
              <td>{{customer.user.cardValue}}</td>
              <td>{{customer.user.pointsAmount}}</td>
              <td>{{customer.timeIn | date: 'MMM d, y, h:mm:ss a'}}</td>
              <td>{{customer.timeOut| date: 'MMM d, y, h:mm:ss a'}}</td>
              <td>{{customer.membershipDuration |date: 'MMM d, y'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer d-flex flex-row justify-content-between align-items-center">

      <div class="dropdown align-middle">
        <button class="btn btn-outline-primary btn-sm  dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{this.table.size}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><button class="dropdown-item" (click)="changeTableSize(10)">10</button></li>
          <li><button class="dropdown-item" (click)="changeTableSize(20)">20</button></li>
          <li><button class="dropdown-item" (click)="changeTableSize(30)">30</button></li>
          <li><button class="dropdown-item" (click)="changeTableSize(40)">40</button></li>
          <li><button class="dropdown-item" (click)="changeTableSize(50)">50</button></li>
        </ul>
      </div>
      <div>
        <ul class="pagination pagination-sm align-middle mb-0">
          <li class="page-item" *ngIf="table.pointerPage > 1"><button class="page-link"
              (click)="previous()">Previous</button></li>
          <li class="page-item"><button class="page-link"
              (click)="visitTable(table.pointerPage)">{{table.pointerPage}}</button></li>
          <li class="page-item" *ngIf="table.pointerPage+1 <= table.totalPages"><button class="page-link"
              (click)="visitTable(table.pointerPage+1)">{{table.pointerPage+1}}</button></li>
          <li class="page-item" *ngIf="table.pointerPage+2 <= table.totalPages"><button class="page-link"
              (click)="visitTable(table.pointerPage+2)">{{table.pointerPage+2}}</button></li>
          <li class="page-item" *ngIf="table.pointerPage+1 <= table.totalPages"><button class="page-link"
              (click)="next()">Next</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>