mwl-calendar-day-view {
    height: 10%;
}

.client-card {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path fill="white" d="M0-240v-53q0-38.567 41.5-62.784Q83-380 150.376-380q12.165 0 23.395.5Q185-379 196-377.348q-8 17.348-12 35.165T180-305v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-19.861-3.5-37.431Q773-360 765-377.273q11-1.727 22.171-2.227 11.172-.5 22.829-.5 67.5 0 108.75 23.768T960-293v53H780Zm-480-60h360v-6q0-37-50.5-60.5T480-390q-79 0-129.5 23.5T300-305v5ZM149.567-410Q121-410 100.5-430.562 80-451.125 80-480q0-29 20.562-49.5Q121.125-550 150-550q29 0 49.5 20.5t20.5 49.933Q220-451 199.5-430.5T149.567-410Zm660 0Q781-410 760.5-430.562 740-451.125 740-480q0-29 20.562-49.5Q781.125-550 810-550q29 0 49.5 20.5t20.5 49.933Q880-451 859.5-430.5T809.567-410ZM480-480q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm.351-60Q506-540 523-557.351t17-43Q540-626 522.851-643t-42.5-17Q455-660 437.5-642.851t-17.5 42.5Q420-575 437.351-557.5t43 17.5ZM480-300Zm0-300Z " /></svg>');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 45px;
}

.class-card {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path fill="white" d="m708-328 173-149 127 11-198 169 61 260-112-70-51-221ZM599-664l-54-127 48-110 105 246-99-9ZM275-222l145-87 146 88-40-164 128-111-168-14-66-155-65 154-168 14 128 110-40 165ZM138-32l75-320-250-217 330-28 127-304 128 304 329 28-250 217 76 320-283-171L138-32Zm282-392Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 45px;
}

.coach-card {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path fill="white" d="M448.765-178q-110.682 0-186.223-75.042Q187-328.083 187-440.601q0-8.18.5-15.859.5-7.68 1.5-13.54-3-1-6.27 0-3.271 1-4.726 1-52.123 0-87.063-34.566Q56-538.132 56-590.866q0-53.154 33.567-88.144T175.711-714q33.379 0 65.334 20Q273-674 289-646q25-23 68.3-39.5 43.301-16.5 92.909-16.5H905v142.647H711v119.824q0 111.446-75.985 186.487Q559.029-178 448.765-178ZM178-550q18.425 0 29.212-10.787Q218-571.575 218-590.5t-11-29.213Q196-630 178-630q-18.425 0-29.212 10.713Q138-608.575 138-591q0 19.425 11 30.213Q160-550 178-550Zm271.121 250q59.707 0 99.793-39.914Q589-379.828 589-439.707q0-59.879-40.207-100.086t-100-40.207Q389-580 349-539.672q-40 40.329-40 100.207 0 59.879 40.207 99.672T449.121-300Zm.003-60q32.708 0 56.292-23.414Q529-406.828 529-439.708q0-32.879-23.708-56.586Q481.584-520 448.792-520T392.5-496.17Q369-472.34 369-439.46q0 32.879 23.708 56.17Q416.416-360 449.124-360ZM449-440Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 45px;
}

.scedule-card {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path fill="white" d="M440-400v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM440-240v-80h80v80h-80Zm-160 0v-80h80v80h-80Zm320 0v-80h80v80h-80ZM120-80v-740h125v-60h65v60h340v-60h65v60h125v740H120Zm60-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 45px;
}

