<!-- *ngIf="!isLoading" -->
<div class="container-fluid">
    <div class="row g-3 mt-2 pb-3 bg-body shadow-sm mx-2">
        <div class="col-md-3 ">
            <div class="card bg-primary py-2 client-card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-xs fw-bold text-light text-uppercase mb-1">
                                Client's
                            </div>
                            <div class="h5 mb-0 fw-bold text-white ">{{dashboard.clientCount}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary  py-2 class-card">
                <div class="card-body ">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-xs fw-bold text-light text-uppercase mb-1 text-truncate ">
                                Gym Classe's
                            </div>
                            <div class="h5 mb-0 fw-bold text-white ">{{dashboard.classesCount}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary  py-2 coach-card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-xs fw-bold text-light text-uppercase mb-1">
                                Coache's
                            </div>
                            <div class="h5 mb-0 fw-bold text-white ">{{dashboard.coachesCount}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary  py-2 scedule-card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="fs-6 fw-bold text-light text-uppercase mb-1">
                                Schedules
                            </div>
                            <div class="h5 mb-0 fw-bold text-white ">{{dashboard.scheduleCount}}</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <!-- Earnings (Monthly) Card Example -->

</div>