<div class="row mt-2 mb-2 p-2 bg-body shadow-sm  mx-2">
    <div class="buttons d-inline-flex justify-content-between">
        <div id="left  d-inline-flex">
            <a class="btn btn-sm btn-primary px-4" (click)="goBack()">Back</a>
        </div>
        <div id="right  d-inline-flex ">
            <a class="btn btn-sm text-white btn-success px-4" (click)="_handleCreateGymClassType()">
                Create Class Type
            </a>
        </div>
    </div>
    <div class="col-md-3">
       
    </div>
</div>

<div class="container mt-2">
    <div class="card shadow-sm bg-body rounded">
        <div class="d-flex justify-content-start  bg-white card-header align-items-center p-3">
            <h5 class="text-dark fw-bold align-items-center m-0 me-2">{{table.name}}</h5>
            <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="table-responsive">
                <table class="table table-hover m-0">
                    <thead>
                        <tr>
                            <th scope="col" *ngFor="let column of table.columns;">
                                {{column}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" *ngFor="let type of table.content;">
                            <td>{{type.name}}</td>
                            <td>{{type.createdAt  | date: 'MMMM d, y'}}</td>
                           
                            
                            <td >
                                <button class="btn btn-info btn-sm text-white me-3" (click)="_handleUpdateGymClassType(type.id)">Update</button>
                                <button class="btn btn-danger btn-sm text-white" (click)="_handleDeleteGymClassType(type.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>