<div class="container-fluid">
  <nav class="navbar navbar-expand-lg mt-2  shadow-sm p-2 mb-2 bg-body rounded">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="add" class="btn btn-sm btn-primary me-1">Create Customer</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="card shadow-sm bg-body rounded">
    <h5 class="card-header bg-white text-dark p-3 fw-bold">{{table.name}}</h5>
    <div class="card-body pb-0">
      <div class="table-responsive">
        <table class="table table-hover m-0">
          <thead>
            <tr>
              <th scope="col" *ngFor="let column of table.columns;">
                {{column}}
              </th>          
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let content of table.content;">
              <td>{{content.user.firstName}}</td>
              <td>{{content.user.lastName}}</td>
              <td>{{content.user.birthDate}}</td>
              <td>{{content.user.gender}}</td>
              <td>{{content.user.cellphone}}</td>
              <td>{{content.user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer d-flex flex-row justify-content-between align-items-center">
      
      <div class="dropdown align-middle">
        <button class="btn btn-outline-primary btn-sm  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          10
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">10</a></li>
          <li><a class="dropdown-item" href="#">20</a></li> 
          <li><a class="dropdown-item" href="#">30</a></li>
          <li><a class="dropdown-item" href="#">40</a></li>
          <li><a class="dropdown-item" href="#">50</a></li>
          <li><a class="dropdown-item" href="#">{{table.totalPages}}</a></li>
        </ul>
      </div>
      <div >
        <ul class="pagination pagination-sm align-middle mb-0">
          <li class="page-item" *ngIf="table.currentPage > 1" ><button class="page-link" (click)="previous()">Previous</button></li>
          <li class="page-item"><button class="page-link" (click)="visitTable(table.currentPage)">{{table.currentPage}}</button></li>
          <li class="page-item"*ngIf="table.currentPage+1 <= table.totalPages"><button class="page-link" (click)="visitTable(table.currentPage+1)">{{table.currentPage+1}}</button></li>
          <li class="page-item" *ngIf="table.currentPage+2 <= table.totalPages"><button class="page-link" (click)="visitTable(table.currentPage+2)">{{table.currentPage+2}}</button></li>
          <li class="page-item" *ngIf="table.currentPage+1 <= table.totalPages"><button class="page-link" (click)="next()">Next</button></li>
        </ul>
      </div>
    </div>
  </div>


</div>